<link rel="stylesheet" href="/static/css/navbar.css">
<div class="navbar">
    <span class="navbtn">
        <a href="/"> Home </a>
    </span>
    <span class="navbtn">
        <a href="/users"> Users </a>
    </span>
    <span class="navbtn">
        <a href="/posts"> Posts </a>
    </span>
</div>